@media screen and (min-width: 1441px){
   /* .show_menu_wrap {display: block;} */
   .slide_indicator { bottom: 3%; left: auto; right: 5%; width: 30%;}

   .view_wrap {
     margin:auto;
     width:100%; max-width:1200px; height: 31.25vw;
   }
   .view_area { max-height: 450px;}
   
   .img_part{
     overflow: hidden;
     float: left; width: 60%; height: auto;}
   .back_img{
     overflow: hidden; float: left; width: 500%; height: 31.25vw; min-height: 350px; max-height: 450px;}
   .back_img li {height: 100%;}
 
   .text_part{
     position: relative; float: left;
     width: 40%; height: 31.25vw; max-height: 450px;
     box-sizing: border-box;
   }

   .text_wrap{
    position: relative; width: 500%; height: 100%;}

    .text_wrap div {
      float: left;
      width: 20%; height: 100%;
    }
   .text_part dl {
     position: relative; width: 100%; padding-top: 85px;
   }

   /* .text_part dl:nth-child(1){z-index: 10;}
   .text_part dl:nth-child(2){z-index: 9;}
   .text_part dl:nth-child(3){z-index: 8;}
   .text_part dl:nth-child(4){z-index: 7;}
   .text_part dl:nth-child(5){z-index: 6;} */
 
   .text_part dt {width: 90%; height: 50px; margin: auto;}

   .text_part dd {width: 90%; margin: auto;}
   .text_part dd:first-of-type {height: auto; padding-bottom: 50px;}
   .text_part dd> span {display: block; width: 100%; height: 85px; overflow: hidden;}
   .text_part .view_part_more {bottom: 10px; right: 40px;}
}