@media screen and (min-width:641px) and (max-width: 1024px){

  .supp_area ul{
    display: flex; flex-flow: row; justify-content: center;
  }
  .supp_area li{
    display: inline-flex;
    padding-top: 50px; width: 260px; height: 480px;
  }
  .supp_area li:first-of-type
{ margin-bottom: 50px; margin-right: 40px;}

  .supp_area div{width: 100%;}
  .supp_area dl{width: 100%;}

  .subs_part{
    /* float: left; */
    margin: auto;
    width: 60%; height: auto; min-height: 100px;}
  
  .policy_area ul {
    flex-flow: row;
    justify-content: space-evenly;
    margin: auto; width: 70%; height: 140px; padding: 30px 0;
  }
}