/* wwfkorea_main_360_mediaQuery.css */

/* 앞으로 실제로 기능하는애 부모에 사이즈를 주자 */
  /* ======================== */

/* 320~374 웨어러블~ 소형기기 */
@media screen and (max-width: 374px){
  #headBox { min-height: 40px;}
  .headWrap { margin: auto; width: 90%; height: 40px;}
  h1 { width: 42px; height: 50px;}
  .menuIconWrap {width: 85px;}
  .searchIBox {height: 40px;}
  .menuIBox {height: 40px;}
  
}
/* ============================== */
/* 375~480px 모바일 */
@media screen and (min-width:375px) and (max-width: 480px){
  #headBox { min-height: 45px;}
  .headWrap { margin: auto; width: 90%; height: 45px;}
  h1 { width: 46px; height: 54px;}
  .searchIBox {height: 45px;}
  .menuIBox {height: 45px;}

}
/* ============================== */
/* 481~800px 모바일~태블릿 */
@media screen and (min-width:481px) and (max-width: 800px){
  #headBox { min-height: 48px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 7.5vw; min-width: 46px; max-width: 54px; height: 56px;}
  .searchIBox {height: 48px;}
  .menuIBox {height: 48px;}
}
/* ============================== */
/* 801~1024 태블릿 */
@media screen and (min-width:800px) and (max-width: 1024px){
  #headBox { min-height: 48px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 56px; height: 60px;}
  .searchIBox {height: 48px;}
  .menuIBox {height: 48px;}
}
/* ============================== */
/* 1440px PC */
@media screen and (min-width:1025px) and (max-width: 1440px){
  #headBox { min-height: 50px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 60px; height: 65px;}
  .searchIBox {height: 50px;}
  .menuIBox {height: 50px;}
}
/* ============================== */
/* 1920px 큰PC */
@media screen and (min-width: 1441px) and (max-width: 1920px){
  #headBox { min-height: 48px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 70px; height: 70px;}
}