
/* 공통 =============================== */

#wrap {
  width: 100%; height: auto; margin: auto;
  background-color: #dfdfdf;
  }
  
/* ================================================ */
#headBox {
  position: relative;
  /* 나중에 js로 fixed 변경 */
  width: 100%; height: auto; min-height: 45px; background-color: var(--wwf-beige);}

  #headBox::before {
    content: " "; display: block;
    position: absolute; top: 0; left: 0; z-index: -1;
    width: 100%; height: 120px; 
    background-color: #fa0;
  }

  /* #headBox::before:hover{} */

.headWrap { margin: auto; width: 90%; height: 45px;}

h1 {
  position: absolute; z-index: 100;
  float: left; width: 46px; height: 120%; height: 48px;
  background-color: #fff;}
h1 a {
  display: block; width: 100%; height: 100%;
  background-image: url('../../../img/wwf_informal_300x360.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  }


/* 상위메뉴란 디자인 -------------- */
.menuIconWrap {
  float:right; width: 90px; height: 100%;}
  /*검색 디자인 ------------- */
.searchIBox {
  float: left; width: 40px; height: 48px;}
.search_btn{width: 100%; height: 100%}
.search_btn a {
  display: block;
  width: 100%; height: 100%;
  background-image: url('../../../img/icons/loupe.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40%;}

/* 메뉴버튼 디자인 --------------- */
.menuIBox {
  float: right; width: 40px; height: 48px;}
.menu_btn {width: 100%; height: 100% }
.menu_btn button {
  display: block; width: 100%; height: 100%;
  background-image: url('../../../img/icons/menu_btn.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
}

/* 메뉴안 닫기버튼 디자인 --------------- */
.menu_close_btn {
  position: absolute; top: 10px; right: 10px;
  width: 34px; height: 34px;
}

.menu_close_btn button {
  display: block;
  width: 100%; height: 100%;
  background-image: url('../../../img/icons/delete_white.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}
  /* ----------------------- */

.show_menu_wrap{
  position: absolute; top: 0; left:50%; transform:translate(-50%); z-index: 13;
  /*width: 850px;*/ width: 100%; height: 250px;
}

.hide:hover::before {
  display: none;
  position: absolute; top: 48px; left:50%; transform:translate(-50%); z-index: -1;
  content: "";  width: 100vw; height: 100%; background-color: rgba(0,0,0,0.8);
}

.menu_area {
  /* display: none; */
  position: absolute; top: 0; left: 0; z-index: 200;
  margin: auto; padding-bottom: 80px;
  width: 100%; height: auto; min-height: 460px;
  background-color: rgba(0,0,0,0.8);}

/* 상위메뉴란 디자인 -------------- */
.gnb { width: 100%; height: 100%;}
.gnb li {
  float: left; box-sizing: border-box;
  width: 20%;  height: auto;
}
.gnb dl{width: 100%; height: 48px;}
.gnb dt{
  position:relative; width: 100%; height: 50px;
  color: #333; line-height: 48px; 
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.0125rem;
}

.gnb dt>a{display: block; width: 100%; height: 100%;}



.gnb dd{
  /* display: none; */
  padding-top: 10px;
  width: 100%; height: 20px;
  font-size: 1rem; 
  /* font-weight: bold; */
  color: #fff;
}
.gnb dd>a {display: block; margin-bottom: 10px; width: 100%;}



  .mobile_tablet{
    margin: auto; width: 50%; height: auto;}
  .mobile_tablet li{
    padding-top: 20px;
    width: 100%; height: auto;}

    /* .menu_area li:first-child {padding-top: 27.083333vw;} */

  .mobile_tablet dl { width: 100%; height: auto;}
  .mobile_tablet dt {
    padding-top: 30px;
    width: 100%; height: auto; border-bottom: 1px solid #fff; color: #fff;    
    font-weight: bold; font-size: 1.6875rem;}
  .mobile_tablet dd {width: 100%; height: auto; color: #fff; font-size: 1.125rem;}
  .mobile_tablet a {display: block; padding-top: 20px;}

/* 검색하기---------------- */
.search_area{
  /* display: none; */
  position: absolute; top: 0; left: 0; z-index: 300;
  width: 100%; height: 100vh; background-color: rgba(0,0,0,0.9);}

  

  .search_close_btn {
    position: absolute; top: 0; right: 0;
    margin-top: 5px; margin-right: 10px;
    width: 30px; height: 30px;
  }

  .search_close_btn button {
    display: block;
    width: 100%; height: 100%;
    background-image: url('../../../img/icons/delete_white.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;}

  .search_area form {
    position: relative; top: 25%; left: 50%;
    transform: translateX(-50%);
    width: 70%; height: auto;}
  .search_area fieldset{
    width: 100%; height: 100px; margin: 0; padding: 0;  border: 0;}
    .search_input_wrap h3 {
      margin: auto; padding-top: 100px;
      width: 80%; height: 40px;
      font-size: 1.625rem; color: #fff;}

  .search_input_wrap{
    width: 100%; height: 50px; border-bottom: 1px solid #fff;}

  .search_input_wrap input {
    float: left; margin-left: 10px;
    width: 90%; height: 100%; border: 0;
    color: #fff;
    background-color: transparent;
  }

  .search_input_wrap input::placeholder{ color:#fff; font-size: 1rem;}

  /* .search_input_wrap label{
    width: 100%; height: 100%;
    color: #fff;
  } */

  .search_input_wrap button {
    float: right;
    display: block;
    width: 35px; height: 45px;
    background-image: url('../../../img/icons/loupe_white.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;}


  
/* ========================================= */
#viewBox {
  position: relative;
  width: 100%; height: auto; background-color: #dfdfdf;}
.view_wrap { width: 100%; height: auto;}

.slide_indicator {
  /* display: none; */
  position: absolute;
  /* bottom: 30%; left: 50%; transform: translateX(-50%); */
  z-index: 10; width: 40%; height: 25px;
  /* margin-bottom: 10px; */
}

.slide_indicator ul {
  /* position: absolute; top: 0; left: 50%; transform: translateX(-50%); */
  padding-top: 5px;
  margin: auto;
  width: 175px; height: 15px;
}

.slide_indicator ul li {
  float: left; width: 15px; height: 15px; margin-left: 25px;
}
.slide_indicator ul li:first-child{margin-left: 0;}
.slide_indicator a {
  display: block;
  width: 100%; height: 100%; border-radius: 100%; box-sizing: border-box; border: 1px solid #fff;
  background-color: #555;
  }
.slide_indicator li.action a {background-color: #fa0;}

/* ---------------------- */

.view_area {
  overflow: hidden;
  width: 100%; height: auto; 
  /* max-height: 450px; */
}

.img_part {
  width: 100%; height: auto; background-color: #D092BF; }

.back_img{
  position: relative;
  float: left; width: 500%;}
.back_img li{
  /* display: none; */
  float: left; width: 20%; height: 450px;
}

 .view_01 {
   background-image: url('../../../img/wwfimg/viewBox_img/1.jpg');
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
}
 .view_02 {
   background-image: url('../../../img/wwfimg/viewBox_img/2.jpg');
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
}
 .view_03 {
   background-image: url('../../../img/wwfimg/viewBox_img/3.jpg');
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
}
 .view_04 {
   background-image: url('../../../img/wwfimg/viewBox_img/4.jpg');
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
}
 .view_05 {
   background-image: url('../../../img/wwfimg/viewBox_img/5.jpg');
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
}
 
 /* -------------------------------------- */

 
  .text_part {
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%; height: auto;
    background-color: var(--wwf-beige);}

    .text_wrap{
      position: relative;
      width: 500%; height: 100%;}

    .text_wrap div {
      float: left;
      width: 20%; height: 100%;
    }

    .text_part dl {
      position: relative; 
      float: left;
      padding-top: 60px; width: 100%; 
      height: auto;
      /* margin: auto; */
      /* min-height: 200px; max-width: 640px; */
    }

    .text_part dt {
      width: 100%; height: 56px; 
      font-size: 1.5rem; font-weight: bold;
    }
    .text_part dd {
      width: 100%; height: 84px;
      font-size: 16px;
      }

      .text_part dd> span {
        display: block;
        width: 100%; height: 80px; overflow: hidden;}
    /* 더 보기 버튼 */
    .text_part .view_part_more {
    position: absolute; bottom: 20%; right: 5%;
    width: 70px; height: 26px;
    border: 1px solid #333;
  }
/* ========================================= */
#contentBox{width: 100%; height: auto; min-height: 850px; background-color: #fff;}

#contentBox h2 {padding-top: 150px; width: 80%; height: 43px; margin: auto; text-align: center; border-bottom: 1px solid #333; font-size: 1.25rem;}
#contentBox p {padding: 22px 0 92px; width: 80%; height: 53px; margin: auto; font-size: 1rem; text-align: center;}

.missionBox {
  margin: auto; width: 80%; height:auto;}


/*  min-height: 1050px;  */
.mission_img {
  margin: auto;
  width: 100%; height: auto; 
  padding-top: 80px; padding-bottom: 80px;
}
  .mission_img::after {
    content: " "; display: block; clear: both;}
  /*marginleft 44px*/

.mission_img a {
  margin: auto; display: block; width: 100%; height: 100%; }
.mission_img li {
  margin-top: 20px;
  float: left;
  /* margin-right: 45px; */
  padding: 20px;
  width: 126px; height: 126px; padding-bottom: 50px;
  overflow: hidden;
  /* border: 1px solid #333; */
}

/* .mission_img li:first-child{margin-left: 60px;} */
.mission_img a {
  margin: auto; display: block; width: 100%; height: 100%; }
  
  .mission_img li span {
    margin: auto;
    margin-top: 10px;
    width: 90%; height: 22px;
    line-height: 22px;
    display: block; text-align: center; font-size: 1rem; font-weight: bold;}

  .mission_img div {
    width: 130px; height: 130px;
    background-color: #fff; overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
  }


/* ========================================= */
#newsBox{width: 100%; height: auto; min-height: 2000px; background-color: #fff;}

#newsBox h2 { margin: auto; padding-top: 35px; width: 80%; height: 45px; margin-bottom: 47px; text-align: center; border-bottom: 1px solid #333;}
.news_area { margin-top: 48px; width: 90%; height: auto; margin:auto;}


.news_area ul {
  margin: auto; padding-top: 100px; padding-bottom: 80px; width: 80%; height: auto;
}

  .news_area ul::after{
    content: " "; display: block; clear: both; width: 100%; height: 0;}

/* js에서 첫번째 줄 첫번째 카드 마다/ 마지막번째 마지막 마다 margin */
.news_area li {
  float:left; width: 245px; height: 480px; padding: 8px; 
}

.news_area a {width: 80%; height: 100%; }
.news_area div {
  margin: auto;
  width: 100%; height: auto; min-height: 326px;
  background-color: #777;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* img part----------- */
.news_area dl {
  margin: auto; margin-bottom: 50px;  
  width: 100%; height: auto; min-height: 154px; box-sizing: border-box; border: 1px solid #777;  }
.news_area dt {
   margin: auto; width: 80%; height: auto; min-height: 50px;
   font-size: 1.25rem; line-height: 50px; font-weight: bold;
  }
.news_area dd {
   margin: auto; width: 80%; height: auto; min-height: 90px; font-size: 1rem; }

.news_more_btn{
  width: 80px; height: 30px;
  margin: auto; border: 2px solid #333;
  line-height: 30px;
}
.news_more_btn button{
  width: 100%; height: 100%;
  display: block; text-align: center;}
.news_more_btn span {
  font-size: 16px; line-height: 30px;}

.news_more_btn:hover{
  background-color: var(--wwf-orange);
  transition: all 300ms ease;
}




/* .news_img_01{
  background-image: url('../../../img/wwfimg/news_img/news_01.jpg');
} */
/* .news_img_02{
  background-image: url('../../../img/wwfimg/news_img/news_02.jpg');
}
.news_img_03{
  background-image: url('../../../img/wwfimg/news_img/news_03.jpg');
}
.news_img_04{
  background-image: url('../../../img/wwfimg/news_img/news_04.jpg');
}
.news_img_05{
  background-image: url('../../../img/wwfimg/news_img/news_05.jpg');
}

.news_img_06{
  background-image: url('../../../img/wwfimg/news_img/news_06.jpg');
}
.news_img_07{
  background-image: url('../../../img/wwfimg/news_img/news_07.jpg');
}
.news_img_08{
  background-image: url('../../../img/wwfimg/news_img/news_08.jpg');
} */

/* ========================================= */
#supportBox{width: 100%; height: auto; min-height: 1300px; background-color: #fff;}

#supportBox h2 { margin: auto; padding-top: 300px; width: 80%; height: 55px; margin-bottom: 120px; text-align: center; border-bottom: 1px solid #333;}

.supp_area { margin-top: 48px; margin: auto; 
  width: 80%; height:600px; background-color: #dfdfdf;}

.supp_area ul {width: 100%; height: 100%; padding-top: 20px;}
.supp_area li {padding-top: 50px; float: left; width: 50%; height: 480px;}
.supp_area li:first-of-type
{ margin-bottom: 50px;}
.supp_area a {
  /* display: block; */
  width: 80%; height: 100%; }

.supp_area div {
  margin: auto;
  width: 80%; height: auto; min-height: 326px; background-color: #777;}


.supp_img_01{
  background-image: url('../../../img/wwfimg/supp_img/supp_01.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.supp_img_02{
  background-image: url('../../../img/wwfimg/supp_img/supp_02.jpg');
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: cover;
}
/* img part----------- */
  .supp_area dl {
    margin: auto;
    width: 80%; height: auto; min-height: 154px;
    color: #fff;
     background-color: #333;}
  .supp_area dt {
      margin: auto; width: 80%; height: auto; min-height: 50px; 
      font-size: 1.25rem; line-height: 50px; font-weight: bold;}
  .supp_area dd {
      margin: auto; width: 80%; height: auto; min-height: 90px; font-size: 1rem; }
/* ========================================= */
#subsBox {width: 100%; height: auto; min-height: 690px; background-color: #555;}
/*  */
#subsBox h2 { margin: auto; padding-top: 132px; width: 80%; height: 50px; font-size: 2.25rem; border-bottom: 1px solid #fff; color: #fff;
}

.aboutUs_wrap {
  margin: auto;
  width: 80%; height: auto; min-height: 527px;}

.aboutUs_area {
  /* float: left; */
  width: 100%; height: 303px;}

  .aboutUs_area h2 {font-size: 1.25rem;}
  .aboutUs_area ul {width: 260px; height: 303px;}
  .aboutUs_area li {padding-top: 20px; width: 100%; height: 17px;}
  .aboutUs_area a {display: block; font-size: 1rem; color: #fff; }

.subs_part{
  /* float: left; */
  margin: auto;
  width: 90%; height: auto; min-height: 100px;}
.subs_part fieldset {
  margin: auto;
  width: 80%; height: auto; padding: 0; border: 0;}
  
  .subs_part h3 {width: 100%; height: 30px; text-align: center; color: #fff;}

.subs_part fieldset input {
  width: 100%; height: 20px; padding: 0px; border: 0;}

  .subs_part fieldset:nth-of-type(2) input{
    margin-top: 5px;
    background-color: #fff; font-weight: bold;}
  .subs_part span {color: #fff;}

/* ========================================= */
#footBox{width: 100%; height: auto; min-height: 900px;
  background-color: var(--wwf-beige);}

.logo_info {
  margin: auto; padding-top: 50px;
  width: 80%; min-height: 118px; height: auto;}

.logo_info h2 {
  display: block;
  float: left;
  width: 84px; height: 100px; background-color: #fff;
  background-image: url('../../../img/wwf_informal_300x360.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.logo_info address {
  float: right; ;
  width: 154px; height: 118px;
  font-style: normal;
  background-color: #fff;}
/* ------------ */
.fund_inc {
  margin: auto; margin-top: 48px;
  width:80%; height: 168px;
  text-align: center;
  background-color: #ddd;}

.sns_wrap {
  margin: auto; margin-top: 30px; margin-bottom: 30px; width: 80%; height: 115px; background-color: #fff;}
  .sns_wrap h3 {text-align: center;}

.sns_wrap ul {
  margin: auto;
  padding-top: 30px; width: 30%; height: 32px;
}
.sns_wrap li {
  float: left; margin-left: 45px;
  width: 32px; height: 32px;}


  .sns_01{
    background-image: url('../../../img/sns_icon/faceBook.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .sns_02{
    background-image: url('../../../img/sns_icon/instagram.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .sns_03{
    background-image: url('../../../img/sns_icon/Twitter.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

.policy_area {
  margin: auto;
  width: 80%; height: auto;
  padding-bottom: 30px;
  background-color: #555;}

  .policy_area ul {
    /* display: flex; flex-flow: row; justify-content: space-around; */
    margin: auto; width: 100%; height: 140px; padding: 30px 0;}
  .policy_area ul li {    
    margin: auto; 
    /* display:inline-flex; */
    width: 80%; height: 20px; padding: 10px 0;}

  /* .policy_area li:nth-of-type(2) a {width: 220px;} */
  .policy_area li a {
    display: block; width: 100%; height: 20px;
    font-size: 1rem; text-align: center; color: #fff;}

  .policy_area p { text-align: center; color: #fff;}


/* ========================================= */
