/* wwfkorea_main_360_mediaQuery.css */

/* 앞으로 실제로 기능하는애 부모에 사이즈를 주자 */
  /* ======================== */

/* 320~374 웨어러블~ 소형기기 내폰 */
@media screen and (max-width: 374px){
}

/* ============================== */
/* 375~480px common 모바일 */
@media screen and (min-width:375px) and (max-width: 480px){
  
}
/* ============================== */
/* 481~640px 480기준 모바일~태블릿 */
@media screen and (min-width:481px) and (max-width: 640px){
  #headBox { min-height: 48px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 7.5vw; min-width: 46px; max-width: 54px; height: 56px;}

  .menuIconWrap {float:right; width: 90px; height: 100%;}
  .searchIBox {height: 48px;}
  .menuIBox {height: 48px;}

  .show_menu_wrap{
    display: none;
    position: absolute; top: 0; left:50%; transform:translate(-50%); z-index: 30;
    /*width: 850px;*/ width: 80%; height: auto;
    color: #fa0;
  }

  .show_menu_wrap::before {
    position: absolute; top: 0; left:50%; transform:translate(-50%); z-index: -1;
    content: ""; display: block; width: 100vw; height: 100%; background-color: rgba(0,0,0,0.9);
    padding-bottom: 80px;
  }

  /* 메뉴안 닫기버튼 디자인 --------------- */
  .menu_close_btn {
    position: absolute; top: 0; right: 0;
    margin-top: 12.8px;
    width: 34px; height: 34px;
  }

  .menu_close_btn button {
    display: block;
    width: 100%; height: 100%;
    background-image: url('../../../img/icons/delete_white.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;
  }

  .mobile_tablet dl { width: 100%; height: auto;}
  .mobile_tablet dt {
    padding-top: 30px;
    width: 100%; height: auto; border-bottom: 1px solid #fff; color: #fff;    
    font-weight: bold; font-size: 1.25rem;}
  .mobile_tablet dd {width: 100%; height: auto; color: #fff; font-size: 1rem;}
  .mobile_tablet a {display: block; padding-top: 20px;}

  /* viewBox ------------------------------ */
  /* display: none; */
  .slide_indicator { bottom: 250px;
    /* left: 50%; */
  }
    
  
  .back_img li{
    width: 20%; height: 46.875vw; min-height: 250px; max-height: 300px;
  } 
  /* .img_part{
    overflow: hidden;
    float: left; width: 60%; height: auto;}
  .back_img{ height: 43.945313vw; }
  .back_img li {height: 100%;} */

  .text_part{
    position: relative; float: left;
    width: 100%; height: 300px;
    /* max-height: 250px; */
    padding: 4.6875vw 0; box-sizing: border-box;
    /* padding 30px */
    padding-bottom: 50px;
  }
  .text_part dl {
    display: none;
    position: absolute; top: 25%; left: 50%; transform: translateX(-50%); padding: 0;
  }
  .text_part dl:first-of-type{display: block;}
  

  .text_part dt {height: 50px;}
  .text_part dd {height: 100px; overflow: hidden;}
  .text_part dd:first-of-type{ padding-bottom: 30px}
  .text_part dd> span {
    display: block; width: 100%; height: 85px; overflow: hidden;}
  .text_part .view_part_more {
    bottom: 10px; right: 10px;
  }


}



/* ============================== */
/* 641px~1024 태블릿 */
@media screen and (min-width:641px) and (max-width: 1024px){
  #headBox { min-height: 48px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 56px; height: 60px;}
  .searchIBox {height: 48px;}
  .menuIBox {height: 48px;}

  /* viewBox ------------------------------ */

  .slide_indicator { bottom: 10px; left: auto; right: 50px; width: 30%;}

  .img_part{
    overflow: hidden;
    float: left; width: 60%; height: auto;}
  .back_img{ height: 34.179688vw; min-height: 350px; max-height: 450px;}
  .back_img li {height: 100%;}

  .text_part{
    position: relative; float: left;
    width: 40%; height: 160px; min-height: 350px; max-height: 450px;}
  .text_part dl {
    position: absolute; top: 20%; left: 50%; transform: translateX(-50%); padding: 0; width: 90%;
  }

  .text_part dt {height: 50px;}
  .text_part dd:first-of-type {height: auto; padding-bottom: 30px;}
  .text_part dd {height: 130px; overflow: hidden;}
  .text_part dd:first-of-type{ padding-bottom: 50px}
  .text_part dd> span {
    display: block; width: 100%; height: 85px; overflow: hidden;}
  .text_part .view_part_more {bottom: 10px; right: 10px;}

}




/* ============================== */
/* 1025~1440px PC */


/*
@media screen and (min-width:1025px) and (max-width: 1440px){
  #headBox { min-height: 50px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 60px; height: 65px;}
  .searchIBox {height: 50px;}
  .menuIBox {height: 50px;}
*/


/* display: none; */
/*width: 850px;*/
/*
  .show_menu_wrap{
    position: absolute; top: 0; left:50%; transform:translate(-50%); z-index: 30;
    width: 59.0277778vw; height: 250px;
    color: #fa0;
  }
*/
  





  /* viewBox ------------------------------ */
  /* .show_menu_wrap {display: block;} */
  .slide_indicator { bottom: 3%; left: auto; right: 5%; width: 30%;}

  .view_wrap {
    margin:auto;
    width:100%; max-width:75rem; height: 31.25vw;
  }
  .img_part{
    overflow: hidden;
    float: left; width: 60%; height: auto;}
  .back_img{
    overflow: hidden; float: left; height: 31.25vw; min-height: 350px;}
  .back_img li {height: 100%;}

  .text_part{
    position: relative; float: left;
    width: 40%; height: 31.25vw; min-height: 350px;
    box-sizing: border-box;
  }
  .text_part dl {
    position: absolute;top: 20%; left: 50%; transform: translateX(-50%); width: 90%; padding: 0;
  }

  .text_part dt {height: 50px;}
  .text_part dd:first-of-type {height: auto; padding-bottom: 50px;}
  .text_part dd> span {display: block; width: 100%; height: 85px; overflow: hidden;}
  .text_part .view_part_more {bottom: 10px; right: 10px;}


}
/* ============================== */
/* 1441~ 부터 1920 걸쳐서 계속 비율적으로만 커질거라면 min 1441 */
@media screen and (min-width: 1441px){
  #headBox { min-height: 48px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 70px; height: 70px;}

  /* viewBox ------------------------------ */
  .view_wrap {
    margin:auto;
    width:100%; max-width:75rem; height: auto;
  }
  .img_part{
    overflow: hidden;
    float: left; width: 60%; height: auto;
  }
  .back_img{ height: 43.945313vw; max-height: 450px;}
  .back_img li {height: 100%;}

  .text_part{
    position: relative; float: left;
    width: 40%; height: 43.945313vw; max-height: 450px;
    padding: 0 3.333333vw; box-sizing: border-box;
  }
  .text_part dl {
    position: absolute; top: 20%; left: 50%; transform: translateX(-50%); width: 90%; padding: 0;
  }

  .text_part dt {height: 50px;}
  .text_part dd:first-of-type {height: auto; padding-bottom: 50px;}
  .text_part dd> span {display: block; width: 100%; height: 85px; overflow: hidden;}
  .text_part .view_part_more {bottom: 10px; right: 10px;}
}