@charset "uft-8";
/* kayak_01.css */


/* reset. css */

html, body {margin: 0; padding: 0; font-family: sans-serif;}
h1,h2,h3,h4,h5,h6,
p,pre,div,ul,ol,li,dl,dt,dd,img,
table,tr,th,td {margin: 0; padding: 0; border: 0; outline: 0;}

ul, ol, li {list-style: none;}
a {text-decoration: none; color: inherit;}
button {
  margin:0; padding:0; border: 0; background-color: transparent; cursor: pointer;}
table, thead,tbody,tfoot,
tr,th,td {
  border: 1px solid #777; border-spacing: 0;
  border-collapse: collapse;}
caption {
  width: 0; height: 0; overflow: hidden; position: absolute;
  z-index: -1;}
hr {margin: 0; padding: 0; border-bottom: 1px solid #333;}

/* common.css */
.clearfix:after,
.clearfix::after {
  content: " "; display: block; clear: both;}

.hide {display: block; width: 0; height: 0; position: relative; z-index: -1; overflow: hidden;}

/* varicable.css  */
:root { 
  --white: #fff;
  
  --logobg: #fa5f13;
  --logohover: #cc4500;
  
  --click: #0b7b99;
  --clickhover: #0a6078;

  --text: #333f48;
  --textactive: #dde5eb;}

/* design. css */

#wrap {width: 1600px; height:auto; min-height: 4000px; margin: auto;}
/* wrap */

#headBox {width: 1260px; height: 112px; margin: auto; 
  text-align: center; line-height: 50px;
  background-color: #fff;}
h1 {width: 603px; height: 604px;}
h1>a {width: 603px; height: 604px; display: block;}

#gnbBox {
  width: 1000px; height: 112px; margin-left: 260px;}

.logo {
  float: left;
  margin: 10px; margin-left: 0;
  width: 260px; height: 72px;
  background-image: url("../../img_kayak/kayak_logo.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}


.gnbGroup {float: left; width: 620px; height: 85px;}
  .gnb{ border-bottom:1px solid #b2b2b2;}
  .gnb>li {
    float: left;
    margin-top: 25px; margin-left: 16px;
    text-align: center;
    line-height: 45px;
    font-size: 1.3rem; 
    font-weight: 900;
    width: 100px; height: 45px;
    color: #333;
    /* background-color: #b2b2b2; */
  }
  .gnb > li.action {border-bottom:5px solid #fa5f13;}

  /* .gnb>li:first-child {
    margin-left: 8px; margin-bottom: 0;
    height: 80px; font-size: 1.5rem; line-height: 80px;
    color: #fff; background-color: #0a6078;} */

  .gnb>li:nth-child(4) {width: 128px;}

  .gnb>li:hover {
    font-size: 1.35rem; color: #fff;
    transition: all 100ms ease;
    background-color:  #fa5f13;}

.loginOptions {float: right; width: 330px; height: 70px; margin-right: 30px;}

  .login>li {float:left;
    margin-top:30px; margin-left: 5px;
    width: 75px; height: 50px;}
  .login>li:hover {text-decoration: underline;}

/* viewBox ================================================ */
#viewbox {
  margin: auto;
  width: auto; height: 2774px;}

#searchBox {
  position: relative;
  width: 100%; height: 264px;
  margin: auto; font-size: 1.5rem;
  color: #fff;
  background-color:  #fa5f13;
  }

#searchBox>h3 {
  padding-top: 10px; margin-left: 200px;
  font-size: 2.3rem;}

.settingBox {
  width: 1100px; height: 155px; margin: auto;}

.search_det {
  /* position: absolute; top: 50px; left: 80px; */
  width: 1100px; height: 45px;
  margin-top: 10px;
  box-sizing: border-box;}

.search_det ul {
  float: left; margin-right: 20px;
  text-align: center; line-height: 40px;
  width: 220px; height: 42px; overflow: hidden;
  text-align: center; font-weight: bold; border:2px solid #fff}

.seat_set ul li:nth-child(2){font-size: 1rem;}

  .search_det ul:hover,
  .search_det ul:focus {
    position: relative; z-index: 10;
    width: 220px; height: auto;
    cursor: pointer; transition:all 300ms ease;
    background-color: #333;}
  
  .search_det ul>li:hover {color: #fa5f13; text-decoration: underline;}

.place_date {
  position: absolute;
  margin-top: 15px;
  width: auto; height: 95px;}

.place_set {
  float: left;
  width: 560px; height: 95px;}

  .place_set li {
    float: left;
    margin-right: 18px; width: 220px; height: 95px;
    text-align: center; line-height: 90px;
    border: 1px solid #fff;}
  
    .place_set li:nth-child(2){
    width: 60px; height: 95px;
    background-image: url("../../img_kayak/exchange_white.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
  }
    .place_set li:nth-child(2):hover{
      width: 60px; height: 95px;
      background-image: url("../../img_kayak/exchange_white.png");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: 50%;
      background-color: var(--logobg);
    }


.date_set {
  float: left;
  width: 540px; height: 95px; }

  .date_set div {
    float: left; margin-right: 20px;
    text-align: center; line-height: 90px;
    width: 216px; height: 95px; 
    border: 1px solid #fff;}
  .date_set div:last-child {
  width: 60px; height: 95px; margin-right: 0;
  background-image: url("../../img_kayak/search_white.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;}

  .date_set div:last-child:hover{background-color: var(--logobg);}
/* search-------------============================= */
#covid19>iframe {border: 0;}

#covid19 {
  width: 1100px; height: auto;
  margin: auto;
  background-color: #fff;}

#covid19 h2,
#covid19 p {
  padding-top: 20px; margin-left: 80px;
  width: auto; height: auto; color: #333;}
#covid19 h2 {font-size: 2rem;}

#covid19 p {padding-top: 0;}
.covid19Map { width: 100%; height: auto;}
#covid19 iframe {margin-top: 7px; width: 100%; height:460px; border: none;}

/* covid19---------------====================== */

#top3Box {
  margin: auto;
  width: 980px; height: 320px; background-color: #ddd;}

#top3Box h2 {
  padding-top: 30px; margin-left: 20px;
  font-size: 2rem;}

.top3 {
  margin: auto; margin-top: 28px;
  width: 940px; height: 202px; background-color: #ccc;}

.top3 ul li {
  float: left; margin-right: 20px;
  width: 300px; height: 202px; background: #bbb;}

  .top3 ul li:last-child {margin-right: 0;}

  .top3 ul li div:first-child {
    width: 300px; height: 142px; background-color: #333;}

    .top3 ul li:first-child div:first-child {
      background-image: url("../../img_kayak/top3/1.jpg");
      background-repeat: no-repeat;
      background-position: 80%;
      background-size: cover;}

    .top3 ul li:nth-child(2) div:first-child{
      background-image: url("../../img_kayak/top3/2.jpg");
      background-repeat: no-repeat;
      background-position:50%;
      background-size: cover;}

    .top3 ul li:nth-child(3) div:first-child {
      background-image: url("../../img_kayak/top3/3.jpg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;}
  
  
/* top3Box ============================================ */


#subscBox {
  margin: auto;
  width: 940px; height: 220px;}

.subBox_img {
  float:left; margin-top: 42px;
  width: 300px; height: 142px;
  background-image: url("../../img_kayak/tickets.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;}

.subBox_txt {float: left; margin-top: 50px;}
.subBox_txt h3{font-size: 1.5rem;}

.subBox {
  float:left; margin-top: 20px;
  width: 600px; height: 40px;
  /* background-color: #555; */
}
  
  .subBox_email_icon {
    float: left;
    width: 40px; height: 40px; margin-right: 10px;
    padding: 10px; box-sizing: border-box;
    background-image: url("../../img_kayak/email.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30%;}

  .subinput{
    float: left;
    border-radius: 10px 10px 10px;
    width: 300px; height: 34px;}

  .subBox_send_icon {
    float: left; margin-left: 15px;
    border-radius: 10px 10px 10px;
    text-align: center; line-height: 36px;
    width: 80px; height: 36px; background-color: #fff;}
  
  .subBox_send_icon:hover,
  .subBox_send_icon:focus {
    color: #fff; cursor: pointer;
    text-decoration: underline; transition: all 500ms ease-in-out;
    background-color: var(--logobg);}



/* subsBox */
#popBox {
  margin: auto;
  width: 980px; height: 560px;}

#popBox h2 {
  font-size: 1.5rem;
  padding-top: 50px; margin-left: 20px; margin-bottom: 20px;}

.pop_items {
  margin: auto;
  width: 980px; height: 458px;}

.pop_items ul{
  float: left; padding-top: 10px;
  margin-left: 20px;
  width: 940px; height: 438px;}

.pop_items ul>li {
  float: left; margin-left: 28px;
  width: 276px; height: 200px; border: 1px solid #333;}

.pop_items ul>li:nth-child(1),
.pop_items ul>li:nth-child(2),
.pop_items ul>li:nth-child(3) {margin-bottom: 20px;}

.pop_items ul>li:nth-child(4) {clear: both;}

.pop_items li>div:nth-child(1) {
  float:left; width: 160px; height: 200px;}

.pop_i_1 {
  background-image: url("../../img_kayak/popular/paris.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.pop_i_2 {
  background-image: url("../../img_kayak/popular/italy.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.pop_i_3 {
  background-image: url("../../img_kayak/popular/thai.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.pop_i_4 {
  background-image: url("../../img_kayak/popular/newyork.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.pop_i_5 {
  background-image: url("../../img_kayak/popular/sydney.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.pop_i_6 {
  background-image: url("../../img_kayak/popular/amsterdam.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}


.pop_items li div:nth-child(2) {
  float: left; margin-top: 20px; width: 106px; height: 24px;}

.pop_items li div h3,
.pop_items li div div {margin-left: 10px;}

/* popBox============================================= */
#downloadBox {
  margin: auto;
  width: 980px; height: 160px;}

#downloadBox h3 {
  font-size: 1.5rem;
  padding-top: 20px; margin-left: 70px;
  width: 400px; height: 20px;}

.stores {
  margin: auto;
  width: 820px; height: 110px;}

.googlePlay {
  float: left; margin-left: 50px;
  width: 360px; height: 115px;
  background-image: url("../../img_kayak/google_play.png");
  background-repeat: no-repeat;
  background-size: contain;}

.appleStore {
  float: left; margin-top: 10px; margin-left: 50px;
  width: 360px; height: 90px;
  background-image: url("../../img_kayak/app_store.svg");
  background-repeat: no-repeat;
  background-size: contain;}

/* downloadBox===================================== */
#reckonBox {
  margin: auto;
  width: 980px; height: 500px; background-color: #dfdfdf;}

#reckonBox h3 {
  font-size: 1.5rem;
  width: 400px; height: 42px; padding-top: 40px; margin-left: 60px;}

.reckonButton {
  position: relative; top: 35%; left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 80%; height: 0;}
.reckonButton>button:first-child{ float: right;}
.reckonButton>button:nth-child(2){ float: left;}

.reckonButton>button>img { width: 20px; height: 20px;}

.reckons {
  position: relative; top: 25%; left: 50%; transform: translateX(-50%);
  width: 70%; height: 200px; font-size: 1.3rem; font-weight: bold;
}


.reckons ul li:nth-child(1) {
  float: left; margin-left: 50px;
  width: 150px; height: 150px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  background-image: url("../../img_kayak/reckon/reckon1.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;  
}

.reckons ul li:nth-child(2) {
  float: left; margin-left: 50px;
  width: 200px; height: 200px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  background-image: url("../../img_kayak/reckon/reckon2.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;}

.reckons ul li:nth-child(3) {
  float: left; margin-left: 50px;
  width: 150px; height: 150px;
  background-color: #fff;
  border-radius: 200px 200px 200px 200px;
  background-image: url("../../img_kayak/reckon/reckon3.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;}


/* reckonBox ========================================= */

#q_n_aBox {
  margin: auto;
  width: 980px; height: 500px;}
  
#q_n_aBox h3 { font-size: 1.5rem;
  width: 400px; height: 42px; padding-top: 40px; margin-left: 60px;}

.qna {
  margin: auto; overflow: hidden;
  width: 900px; height: 400px;}

.qna>button {
  float: left; margin: 0 20px; 
  width: 400px; height: 100px;}

  .collapsible {
    color: #333;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    text-decoration: underline;
    background-color: #bbb;
  }
  
  .content {
    float: left;
    padding: 0px;
    display: none;
    overflow: visible;
    border-bottom: 1px solid #333;}


/* .qna div {
  float:left; margin-top: 50px; margin-left: 30px;
  width: 370px; height: 40px; margin-right: 50px;} */

/* .qna button>h4 {text-align: left; font-size: 1rem;}
.qna button>h4:hover {text-decoration: underline;}

.collapsible {width: 420px; height: 80px; }

.con


.collapsible:active,
.content:active {
  position: absolute;
  width: 370px; height: 200px;
  color: #333;} */

/* viewBox ================================================ */

#footBox {
  margin: auto;
  width: 1260px; height: 572px; background-color: #777;}

.footgroup {
  padding-top: 140px; margin:auto;
  width: 823px; height: 160px;}

.footgroup>div {
  float: left; margin-left: 32px; color: #fff;
  width: 160px; height: 160px;}
.footgroup>div:last-child {width: 180px; height: 160px;}

.footgroup>div h3 {margin-bottom: 20px;}

.footgroup>div>div:hover{text-decoration: underline;}

.site_c>div {
  margin-top: 20px; text-indent: 10px;
  width: 180px; height: 25px; border: 1px solid #fff;}


.ptca {
  margin: auto; margin-top: 50px;
  width: 736px; height: 145px;}
.ptca ul>li {float: left; color: #fff; margin-left: 65px;}

.ptca p {clear: both; padding-top: 50px; color: #fff; text-align: center;}

.ptca ul>li:hover,
.ptca ul>li:focus {text-decoration: underline;}