@charset "utf-8";
/* 1015 loin_01_result.css */
body {background-color: #f8f8f8;}

h1 {font-size: 1.5rem;
  /* text-align: center; */}

#wrap {
  position: relative;
  width: 16.25rem; height: 17.6875rem;
  /* width와 height의 값도 rem사이즈로 해야한다 alt+z */
  /* margin: 30px auto;  */
  border: 0.0625rem solid #ddd;
  background-color: #fff;
  box-sizing: border-box;}


/* .part_line {
  position: absolute; left: 0; top: 118px;
  #wrap 기준으로 position을 주었지만
  원래는 fieldset기준으로 position처리해야한다
  width: 100%; height: 0;
  border: none;
  hr의 border 하나를 지운 후 만든다 */

fieldset {
  width: 100%; height: auto;
  margin: 0; padding: 0;
  border: 0; box-sizing: border-box
}

fieldset > h2 {
  width: 100%; height: 20px; 
  margin-bottom: 12px;
  font-size: 1rem; text-align: center; color: #333;
}


.social_login {
  width: 100%; height: auto;
  padding:16px;
  border: none;
  background-color: #fdc;
  box-sizing: border-box;
}
.social_login ul {
  width: 100%; height: 42px;}
.social_login li {
  float:left; width: 42px; height: 42px;
  margin-right: 10px;
  background-color: #caf;
  list-style: none;
}

.social_login li:last-child {margin-right: 0;}
.social_login button {border-radius: 3px; background-color: #c7f; }

/*
.hidden_wrap a>span,
.hidden_wrap button>span {
  display: block; position: absolute; z-index:-1;
  width: 0; height: 0; overflow: hidden;}

span을 일일히 처리하기 번거로움으로 span자체를 숨김처리
common.css에 업그레이드 되어있음
*/

fieldset>h2 {
  width: 100%; height: 20px; margin-bottom: 12px;
  font-size: 1rem; text-align: center; color: #333;
}

fieldset:nth-of-type(1){
  padding: 16px 56px 26px;
  border-bottom: 1px solid #ddd;}

fieldset:nth-of-type(2){
  min-height: 68px; 
  margin-top: 20px; margin-bottom: 10px;
  padding: 0 10px;
}

fieldset:nth-of-type(3){
  min-height: 20px;
  padding: 0 10px;
}
/* ======================================================= */

.member_login {
  height: 68px; 
  padding: 0 10px;
  margin-top: 20px; margin-bottom: 10px;
}

.user_sign {
  float: left; width: 168px; height: 68px;
  background-color: #cdc;}

  .user_sign> input {
    width: 100%; height: 50%;
    border: 0;
  }

  .user_sign>input:first-of-type { 
    border-bottom: 0;
  }

  input::placeholder { color:#f08;}

.user_confirm {
  float: right; width: 65px; height: 68px;
  background-color: #cdc;
}

.user_confirm input {
  width: 100%; height: 100%;
  border: 1px solid #ddd;
  margin: 0; padding: 0; box-sizing: border-box;
  cursor: pointer;

}

.join_and_find {
  min-height: 20px;
  padding: 0 10px;
}

.join_and_find a {
  font-size: 12px;
  padding: 2px;
  border: 1px solid #ddd;
}