@charset "utf-8";
/* monffee result.css */

 
@import url('./monffee/monffee_wrap.css');
@import url('./monffee/moffee_headBox.css');

/*
html::-webkit-scrollbar,
body::-webkit-scrollbar {display:none;} /* 크롬, 사파리 스크롤바 제거*/
*/
html, body {
  -ms-overflow-style:none; /* ie, edge 스크롤바 제거*/
  scrollbar-width:none; /* firefox 스크롤바 제거 */
}

/* 아직 공식적인 스크롤바 지우기가 아니므로 알아두기만 하자 */




  h1 {
    float: left; position: relative; z-index: 100; width: 220px; height: 120px;
  }
  h1 a {
    background-image: url('../../img/monffee_img/h1_logo.png');
    background-position: 50% 50%;
    background-color: var(--color-monffee-primary);}
  /* a사이즈 주지말고 h1에 hidden_wrap으로 설정가능 */
  #navBox {
    float: right; width: 620px; height: auto;
  }
  /* hover시 메뉴가 나오도록 하기 위한 밑작업 */
  #navBox::before{
    position: absolute; bottom: 0; right: 0; z-index: -2;
    content: ""; display: block;
    width: 100%; height: 100%;
    background-color: rgba(165,51,0,0.5);
  } /* headBox에 clearfix를 주면 before값이 자동으로 늘어난다 */

  #navBox ul {
    width: 100%; height: auto;}
/* ul의 min-height는 지워준다 */

/* ::before::after
기능상의 차이는 없으나
ex)
<div>
::before
text
::after(여기에 clearfix를 써줘야 하므로)
</div>

*/
    #navBox ul::before {
      position: absolute; bottom: 25px; left: 20px;
      content: ""; display: block;
      width: 180px; height: 150px;
      background-image: url('../../img/monffee_img/character.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }

  #navBox li { /*부모가 auto에 민 100%라면 자식의 높이 100% 의미없음*/
    float: left; width: 25%; height: auto; }
  #navBox dl {
    width: 100%; height: auto; min-height: 100%; }
  #navBox dt {
    /* dl이 %써서 높이값을 단위로 줘야함 */
    position:relative; width: 100%; height: 120px; }
  #navBox dt>a {
    font-size: 1.8rem; text-transform: uppercase;
    display: block; width: 100%; height: 100%; text-align: center; line-height: 120px;
  }
  #navBox dt>a:after {
    content: ""; display: block; position: relative;
    position: absolute; top: 50%; margin-top: 16px; left: 50%;
    transform: translate(-50%);
    width: 0; height: 3px; background-color: var(--color-monffee-primary);
    transition: width 300ms ease;
  }

/* display:none;을 하면 이미지가 그대로 로고에 올라오니까
h1에 position:relative를 주고 z-index를 많이 준다 
*/
  #navBox dd {
    /* display: none; */
    width: 100%; height: auto; padding: 16px 0; text-align: left; text-indent: 32px; color: var(--color-monffee-white);
  }
  #navBox dd>a {
    display: block; width: 100%; height: auto;
    padding: 5px; margin-bottom: 5px;
  }



  #navBox dt>a:hover::after {width: 80%;}
/* headBox==================================== */
#viewBox {
  width: 100%; height: 100vh; min-height: 800px;
  background-color: #fa8;
}

/* js에서 viewBox의 높이를 컨트롤하거나 vh로 */
/* viewBox==================================== */
#bestNews {
  width: 940px; height: 1080px; margin: auto;
  background-color: #acf;}

/* bestNews==================================== */
#issueBox {width: 100%; height: 1340px;}

  .issue_text {width: 100%; height: 860px; background-color: #caa;}
  .issue_icon {
    margin: auto;
    width: 100%; max-width: 1260px; height: 480px;
    background-color: #aca;
  }
/* issueBox==================================== */
#conBox {
  width: 100%; height: auto; min-height: 1880px;}

  .context_text {width: 100%; height: 600px; background-color: #add;}
  .meterial {width: 100%; height: 200px; background-color: #fdd;}

  #location {width: 100%; height: 1080px; background-color: #03D997;}
/* conBox==================================== */

#footBox {
  width: 100%; height: 396px;
  background-color: #F1A099;
}

/* footBox==================================== */