/* wwfkorea_main.css */


/* 공통 =============================== */

#wrap {
  width: 100%; height: auto; margin: auto;
  background-color: #dfdfdf;
  }

/* ================================================ */
#headBox {width: 100%; height: auto; min-height: 70px; background-color: #3255C0;}

h1 {float: left; width: 100px; height: 120px; background-color: #fff;}
h1 a {display: block; width: 100%; height: 100;}
.headWrap { margin: auto; width: 80%; height:70px; background-color: #fa0;}
.menuIconWrap {float:right; width: 140px; height: 100%; background-color: #fff;}

  .searchIBox {float: left; margin-right: 20px; width: 60px; height: 100%; background-color: #177636;}
  .menuIBox {float: left; width: 60px; height: 100%; background-color: #DE1DC1;}



/* ========================================= */
#viewBox {width: 100%; height: auto; min-height: 720px; background-color: #38B4DC;}
.view_area {width: 100%; height: 720px;}

  .img_part {width: 100%; height: 479px; background-color: #28AE83;}

  .text_part {width: 100%; height: 240px; background-color: #DA0F1D;}
    .text_part dl {padding-top: 58px; width: 80%; height: 125px; margin: auto;}
    .text_part dt {width: 100%; height: 56px; background-color: #0777B7;}
    .text_part dd {width: 100%; height: 84px; background-color: #A4C579;}

/* ========================================= */
#contentBox{width: 100%; height: auto; min-height: 990px; background-color: #EBDB24;}

#contentBox h2 {padding-top: 110px; width: 80%; height: 43px; margin: auto; text-align: center; border-bottom: 1px solid #333;}
#contentBox p {padding: 22px 0 92px; width: 80%; height: 53px; margin: auto;text-align: center; line-height: 53px;}

.missionBox {margin: auto; width: 80%; height: 100%;}
.mission_img { margin-top: 90px; margin: auto; width: 80%; height: 556px; background-color: #fff;}

/* ========================================= */
#newsBox{width: 100%; height: auto; min-height: 4650px; background-color: #84D919;}

#newsBox h2 { margin: auto; padding-top: 35px; width: 80%; height: 45px; margin-bottom: 47px; text-align: center; border-bottom: 1px solid #333;}
.news_area { margin-top: 48px; margin: auto; width: 80%; height: auto; background-color: #fff;}


.news_area ul {width: 100%; height: 100%;}
.news_area li {width: 100%; height: auto;}
.news_area li:first-of-type {padding-top: 100px;}
.news_area a {width: 80%; height: 100%; }
.news_area div {
  margin: auto;
  width: 80%; height: auto; min-height: 326px; background-color: #777;}

/* img part----------- */
.news_area dl {
  margin: auto; margin-bottom: 50px;
  width: 80%; height: auto; min-height: 154px; background-color: #329A67;}
.news_area dt {
   margin: auto; width: 80%; height: auto; min-height: 50px; background-color: #D092BF;}
.news_area dd {
   margin: auto; width: 80%; height: auto; min-height: 90px; background-color: #3E2CA4;}

/* ========================================= */
#supportBox{width: 100%; height: auto; min-height: 1300px; background-color: #D5C5E2;}

#supportBox h2 { margin: auto; padding-top: 35px; width: 80%; height: 55px; margin-bottom: 47px; text-align: center; border-bottom: 1px solid #333;}

.supp_area { margin-top: 48px; margin: auto; width: 80%; height:100%; background-color: #fff;}

.supp_area ul {width: 100%; height: 100%; padding-bottom: 50px;}
.supp_area li {width: 100%; height: 100%;}
.supp_area li:first-of-type {padding-top: 50px;}
.supp_area a {width: 80%; height: 100%; }

.supp_area div {
  margin: auto;
  width: 80%; height: auto; min-height: 326px; background-color: #777;}
/* img part----------- */
  .supp_area dl {
    margin: auto;
    width: 80%; height: auto; min-height: 154px; background-color: #329A67;}
  .supp_area dt {
      margin: auto; width: 80%; height: auto; min-height: 50px; background-color: #D092BF;}
  .supp_area dd {
      margin: auto; width: 80%; height: auto; min-height: 90px; background-color: #3E2CA4;}
/* ========================================= */
#subsBox {width: 100%; height: auto; min-height: 690px; background-color: #555;}

#subsBox h2 { margin: auto; width: 80%; height: 50px; border-bottom: 1px solid #333;}

.aboutUs_wrap {
  width: 80%; height: auto; min-height: 527px;}

.aboutUs_area {
  /* float: left; */

  width: 100px; height: 178px; background-color: #fff;}

/* ========================================= */
#footBox{width: 100%; height: auto; min-height: 854px; background-color: #BF981F;}
/* ========================================= */
