/* wwfkorea_main.css */


/* 공통 =============================== */

#wrap {
  width: 100%; height: 100%; margin: auto;
  background-color: #dfdfdf;
  }
#headBox {width: 100%; height: auto; min-height: 70px; background-color: #3255C0;}

/* ========================================= */
#viewBox {width: 100%; height: auto; min-height: 720px; background-color: #38B4DC;}
/* ========================================= */
#contentBox{width: 100%; height: auto; min-height: 990px; background-color: #EBDB24;}
/* ========================================= */
#newsBox{width: 100%; height: auto; min-height: 4750px; background-color: #84D919;}
/* ========================================= */
#supprtBox{width: 100%; height: auto; min-height: 1180px; background-color: #D5C5E2;}
/* ========================================= */
#subsBox {width: 100%; height: auto; min-height: 690px; background-color: #555;}
/* ========================================= */
#footBox{width: 100%; height: auto; min-height: 854px; background-color: #BF981F;}
/* ========================================= */
