@charset "utf-8";
/* 28/Sep _studioBig.css */
html, body {width:100%; height:100%; margin: 0; padding:0; }
h1, h2, h3, h4, h5, h6, p {margin: 0; padding: 0;}
ul, ol, li, dt, dd {margin: 0; padding: 0; list-style: none;}

/* common.css */
.clearfix:after,
.clearfix::after {
  content: " "; display: block; clear: both;}

 .hidden_context {display: block; width: 0; height: 0; position: relative; z-index: -1; overflow: hidden;} 



#wrap {
  width: 1600px; height: 5000px;
  margin:auto;
  background-color: #ccc;}


#headBox {width: 100%; height: 80px;
padding-top: 30px;
  box-sizing: border-box;
background-color: #a9ddeb;}

 h1 { float:left; text-align: center; line-height: 40px;
   width: 300px; height: 40px; background-color: #fa0;}

.heading_Nav {
  float: right; margin-right: 170px;
  width:680px; height: 40px;
  background-color: #f00;}

.provides {float: right;}
.provides li { float: left;
  margin-top: 10px; margin-right: 8px;
  width: 87px; height: 40px;}

/* #headBox===============================================  */


#viewBox {width: 100%; height: 590px; background-color: #aaa;}
/* #viewBox===============================================  */


#bestBox {width: 100%; height: 530px; background-color: #99f;}
/* #bestBox ===============================================*/


#recentBox {width: 100%; height: 880px; background-color: #ad9;}
/* #recentBox  ===============================================*/


#artWorkBox {width: 100%; height: 440px; background-color: #fa0;}
/* #artWorkBox =============================================== */


#offical_insta {width: 100%; height: 1220px; background-color: #17C7D0;}
/* #offical_insta ===============================================*/


#footBox {width: 100%; height: 360px; background-color: #ddd;}
/* #footBox ===============================================*/