@charset "UTF-8";
/* reset.css */

/* reset. css 웹페이지 디자인 작업을 위해, 매번 처리해야하는 번거로운 작업을 미리 설정하여 초기화 시키는 처리 1단계 */
html, body {width: 100%; height: 100%;
  margin: 0; padding: 0; border:0; font-family: sans-serif; color: #333;}


h1,h2,h3,h4,h5,h6,
p,pre,blockquote,q,abbr,address,
div,ul,ol,li,dl,dt,dd,
table,tr,th,td,hr,
button,img,
header,nav, section,article,footer,aside,
main,figure,figcaption{
  margin: 0; padding: 0; border: 0; outline: 0;}

header,nav, section,article,footer,aside,
main,figure,figcaption {display: block;}

ul, ol, li {list-style: none;}
a {text-decoration: none; color: inherit;}

a:hover, a:focus,
button:hover, button:focus {
  position: relative; z-index: 500; outline: 3px solid #f70;}

button {
  background-color: transparent; cursor: pointer;}

table, thead,tbody,tfoot,
tr,th,td {
  border: 1px solid #777; border-spacing: 0;border-collapse: collapse;}
caption {
  width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
hr {border-bottom: 1px solid #333;}


/* variable 지원 여부 파악 */

@supports (--var:100%){
  html, body {color: var(--c-font1);}
  a:hover, a:focus,
  button:hover, button:focus{
    outline: 3px solid var(--c-point);}
}

/* 일반언어형태
if (text){text기능을 수행}else{text이외의 기능수행}

css형태
일단 text이외의 기능 수행

@supports (text수행 여부 확인){수행이 가능하면 text기능 수행}

*/