@charset "utf-8";
/* mediaQuery.css */

#wrap {
  width: 100%; height: 500px;
  background-color: #ccc;
}
#headBox {width: 100%; height: 50px; text-align: center; color: #fff; background-color: #007;}

/* mobile */
/* 이때 저사양모델까지 생각한다면 min-width를 빼준다*/
@media screen and (min-width: 280px) and (max-width: 639px){
  #wrap{
    width: 100%; height: 1000px; background-color: #acf;}
  #headBox {
    position: fixed; top: 0; height: 100px;
  }
}

/* table */
@media screen and ( min-width:640px) and (max-width: 1024px){
  #wrap {
    /*#wrap width가 같은값이면 안써도 무방*/
    height: 700px; background-color: #fa0;
  }
}

/* laptop */
@media screen and ( min-width:1025px) and (max-width: 1366px){
  #wrap {
    width: 90%; height: 1500px; margin:auto; background-color: #f07;
  }
}

/* pc */
@media screen and ( min-width:1367px){
  #wrap {
    width: 80%; height: 50vw; margin: auto; background-color: #7fa;
  }
}

