@charset "utf-8";
/* 1026 shadow.css  */

#wrap {
  width: 60rem; height: auto; padding: 1rem; background-color: #dfdfdf;
}

.part {
  width: 100%; height: auto; padding: 1rem; background-color: #fcd;
}

.part ul {
  width: 100%; height: 100px; padding-bottom: 100px;
}

.part li {
  float: left; width: 6.25rem; height: 6.25rem; margin-right: 9.375rem; border-radius: 1.875rem; text-align: center; line-height: 6.25rem; background-color: #fa0;
}
.part li:last-child{margin-right: 0;}
/* box-shadow: x축, y축, 번짐의 정도(테두리부근의 두께), 색상 */
.box li:nth-child(1){box-shadow: 10px 10px 5px #333;}
.box li:nth-child(2){box-shadow: 0 0 5px 10px #579;}
.box li:nth-child(3){box-shadow: 10px -10px 5px #f07 inset;}
/* inset은 아주 앞이나 뒤에 쓸 수있다 */
.box li:nth-child(4){box-shadow: 5px 5px 0 #f3f, -10px -10px 0 #3f3, -3px -5px 0 #077 inset;}

/* ==============================================*/

.text li {
  width: 180px; margin-right: 1rem;
  font-size: 2rem; font-weight: 900; color: #fff;}

/* text-shadow는 0 0 0 #컬러; 자리 수까지만 허용되며 inset도 사용불가 */
.text li:nth-child(1){text-shadow: 5px 5px 0 #976;}
.text li:nth-child(2){text-shadow: -5px 5px 0 #07a, 5px 10px 5px #70a;}
.text li:nth-child(3){text-shadow: -1px -1px 1px #555,
  2px 2px 1px #333;}

.text li:nth-child(4) {text-shadow: -150px 5px 3px #777;}
.text li:nth-child(4):hover {
  text-shadow: 150px 5px 3px #777;
  transition: all 700ms linear; overflow:hidden;
  background-color: #f73;}

/* ================================================== */

.drop li {background-image: url('../../img/character.png');
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: 50% 50%;
  font-size: 0;
  background-color: transparent;}

.drop li:nth-child(1){
  /* box-shadow: 5px 5px 10px #777; 앵글이 예쁘지않다 */
  filter: drop-shadow(10px 10px 5px #fa0);}
.drop li:nth-child(2){filter: blur(0.1rem);}
.drop li:nth-child(3){filter: brightness(3);}
.drop li:nth-child(4){opacity: 0.3; font-size: 2rem; font-weight: bold;}
.drop li> span {font-size: 2rem;}

/* ========================================================= */

.gradient li {
  width: 12.5rem; height: 12.5rem; border: 1px solid #333;
  margin-right: 1rem;}

.gradient li:nth-child(1){
  background-color: khaki;
  background-image: linear-gradient(60deg,khaki 30%, #f70 30%, #fa0 50%, #fca);
}
/*구형과 ie는 linear-gradient를 사용할 수 없다 그래서 bgc를 써서 최소한의 컬러를 맞춰준다*/
/* ========================================================== */
.gradient li:nth-child(2){
  position: relative; z-index: 0; overflow: hidden;
  background-color: #f7a; transition: all 500ms;
  background-image: linear-gradient(45deg, #fa0, #70a);
}
/* 어떠한컬러를 투명하게 사라졌다가 다시 나타나는 것이 포인트 */
.gradient li:nth-child(2)::before{
  content: ""; display: block; z-index: -1;
  position: absolute; top: 0; left: 0; width: 110%; height: 110%;
  transition: all 500ms linear;
  background-image: linear-gradient(90deg, #f7a, #acf);
  opacity: 1;
}
/* =========================================================== */
.gradient li:nth-child(2):hover::before{opacity: 0;}

.gradient li:nth-child(3){
  width: 500px;
  background-image: radial-gradient(#f06, #acf);
}

.gradient li:nth-child(4){
  width: 500px;
  background-image: radial-gradient(circle closest-side, #acf, #fa9);
}