@media screen and (min-width:641px) and (max-width: 1024px){
  #headBox { min-height: 48px;}
  .headWrap { margin: auto; width: 90%; height: 48px;}
  h1 { width: 56px; height: 60px;}
  .searchIBox {height: 48px;}
  .menuIBox {height: 48px;}

  .search_area{
    display: none;
  }
  .show_menu_wrap{
    display: none;
  }

 .mobile_tablet{
    margin: auto; width: 50%; height: auto;}
  .mobile_tablet li{
    padding-top: 20px;
    width: 100%; height: auto;}

    /* .menu_area li:first-child {padding-top: 27.083333vw;} */

  .mobile_tablet dl { width: 100%; height: auto;}
  .mobile_tablet dt {
    padding-top: 30px;
    width: 100%; height: auto; border-bottom: 1px solid #fff; color: #fff;    
    font-weight: bold; font-size: 20px;}
  .mobile_tablet dd {width: 100%; height: auto; color: #fff; font-size: 18px;}
  .mobile_tablet a {display: block; padding-top: 20px;}
  
  
}